#development{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.cartegory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eae8ea;
    border-radius: 2px;
    max-height: 260px;
    margin: 50px 0px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 45px, rgba(0, 0, 0, 0.14) 0px 15px 30px;
    list-style: none;
}
.cartegory li{
    border-radius: 2px;
    text-align: center;
    font-size: 14pt;
    width: 130px;
    height: 52px;
    padding-right: 35px;
    line-height: 50px;
    color: #251f22;
    text-decoration: none;
}
.cartegory li:hover{
    background-color: #c7c5c7;
}
.cartegory a{
    text-decoration: none;
}
.journals{
    overflow-y:scroll;
    background-color: #f7f5f7;
    margin: 50px 0px;
    padding: 18px 40px;
    border-radius: 2px;
    width: 780px;
    height: 70vh;
    color: #251f22;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 45px, rgba(0, 0, 0, 0.14) 0px 15px 30px;
}
.journals img{
    max-width: 90%;
}
.journals a{
    color: #49499E;
    font-weight: bold;
}