@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    font-family: "Noto Sans KR", sans-serif;
}
#nav {
    background-color: #5555b7;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
}
.wrap{
    margin: auto;
    height: 8.3em;
    display: flex;
    align-items: center;
}
.logo{
    width: 18em;
    height: 100%;
}
.logoImg{
    height: 9.6em;
    position: absolute;
}
.innerTap span{
    height: 100%;
    width: 100px;
    color: lightgray;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
span > a {
    color: #e7e7e7;
    text-decoration: none;
}