body{
    background-color: #5555b7;
}

#content{
    background-color: #5555b7;
    display: block;
    width: 980px;
    margin: auto;
    padding-top: 150px;
    padding-left: 90px;
    align-content: center;
    display: flex;
}

.intro1 {
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.intro2 {
    font-size: 62px;
    color: white;
    font-weight: bold;
}

.googleImg{
    margin-top: 20px;
    height: 60px;
    width: 180px;
}

.productImg{
    width: 33em;
}
