#introduction{
    background-color: #f7f5f7;
    padding: 86px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature_items strong{
    color: #251f22;
    font-size: 20pt;
}
.present-text{
    color: #5555b7;
    font-weight: bold;
}
.summary{
    width: 900px;
    margin: 0 auto;
}
.summary h2 {
    color: #251f22;
    font-size: 28pt;
}
.summary p {
    color: #434245;
    font-size: 16pt;
}
.intro_video{
    width: 900px;
    margin: 0 auto;
}
.feature_items{
    display: flex;
    justify-content: center;
}
.feature_items div {
    width: 270px;
    margin: 40px 20px 10px 20px;
}
.feature_items div img{
    max-height: 170px;
    max-width: 170px;
}
.feature_items p{
    color: #434245;
    font-size: 16pt;
    
}