#introduction{
    background-color: #f7f5f7;
    padding: 86px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary{
    width: 700px;
    margin: 0 auto;
}
.summary h2 {
    font-size: 28pt;
}
.summary p {
    font-size: 13pt;
}
.intro_video{
    width: 700px;
    margin: 0 auto;
}
.features{
    display: flex;
    justify-content: center;
}