@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#reviews{
    padding: 86px 0px;
    text-align: center;
    background-color: #e7e3e7;
}

.comments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.comment-box{
    width: 245px;
    height: 275px;
    background-color: #5555b7;
    margin: 40px 12px 0px;
    padding: 10px;
    font-size: 13pt;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 45px, rgba(0, 0, 0, 0.14) 0px 15px 30px;
}
.comment-img{
    max-width: 60px;
    margin-top: 10px;
}
.comment-text{
    color: #f7f3f7;
    height: 150px;
    padding: 10px;
    overflow: scroll;
}
.tri{
    width: 0px;
    height: 0px;
    border-bottom:15px solid none;
    border-top:15px solid #5555b7;
    border-right: 15px solid transparent;
    border-left: 15px solid  transparent;
    margin: 0 auto;
  }
  
.checked {
    color: rgb(245, 181, 6);
}
.rating{
    margin-top: 10px;
    font-size: 25pt;
}
.author{
    font-weight: bold;
    font-size: 16pt;
}